<%- include('partials/head') %>

<header></header>

<main class="conversational-ui">

    <!-- Page Content -->
    <form method="GET" enctype="multipart/form-data">
        <fieldset id="input-1">
            <div class="back">
                <a href="/">&#8592 terug naar alle herinneringen</a>
           </div>
            <legend class="legend-text">
                Voeg muziek toe aan de herinnering
            </legend>
            <div class="input input-button">
                <a href="/" class="">Muziekstream openen</a>
            </div>
            <div class="buttons">
                <a href="#input-2" class="button next"> Overslaan</a>
            </div>
        </fieldset>

        <fieldset id="input-2">
            <legend class="legend-text">Geef de herinnering een titel</legend>
            <div class="input input-text">
                <input
                    id="title"
                    type="text"
                    placeholder="Titel"
                    maxlength="40"
                />
            </div>
            <div class="buttons">
                <a href="#input-3" class="button next"> Volgende</a>
            </div>
        </fieldset>

        <fieldset id="input-3">
            <legend class="legend-text">
                Waar gaat deze herinnering over?
            </legend>
            <div class="input input-text">
                <input
                    id="description"
                    type="text"
                    placeholder="De herinnering gaat over"
                    value=""
                    maxlength="40"
                />
            </div>
            <div class="buttons">
                <a href="#input-4" class="button next "> Volgende</a>
            </div>
        </fieldset>

        <fieldset id="input-4">
            <legend class="legend-text">Waar gaat de herinnering over?</legend>
            <div class="input input-button--choose-media">
                <div class="buttons--choose-media">
                    <button class="media-button" id="button--add-image"><img src="./icons/camera_alt-24px.svg"></button>
                    <button class="media-button" id="button--add-voice-recording"><img src="./icons/mic-24px.svg"></button>
                    <button class="media-button" id="button--add-text"><img src="./icons/text_fields-24px.svg"></button>
                </div>
                <div class="output--add-image" id="output--add-image">
                    <div class="input-button--choose-file">
                        <input type="file" id="real-file" hidden="hidden" />
                        <button type="button" id="custom-button" class="button">
                            <!--                        <img src="./icons/camera_alt-24px.svg" alt="Image Icon" />-->
                            Kies een afbeelding
                        </button>
                        <span id="custom-text">Nog geen afbeelding gekozen.</span>
                    </div>
                    <img id="output-image" class="output-image hide" />
                </div>
                <div class="output--add-voice-recoding" id="output--add-voice-recoding">
                    <div class="mic-container">
                        <div class="circle">
                            <img class="mic-icon" src="./voice_icon.png" alt="Microphone icon">
                        </div>
                        <div class="timer">
                            <span class="minutes">00</span> <span class="colon">:</span><span class="seconds">00</span>
                        </div>
                    </div>
                    <audio></audio>
                    <audio id="savedAudio" controls></audio>
                </div>
                <div class="output--add-text" id="output--add-text">
                    <div class="input input-text">
                        <input
                                id="description"
                                type="text"
                                placeholder="De herinnering gaat over"
                                value=""
                                maxlength="40"
                        />
                    </div>
                </div>
            </div>
            <div class="buttons">
                <a href="#input-5" class="button next "> Volgende</a>
            </div>
        </fieldset>

        <fieldset id="input-5">
            <legend class="legend-text">
                Welke verzorgers mogen deze herinnering zien?
            </legend>
            <div class="input input-button">
                <input type="checkbox" id="verzorger-1" />
                <label for="verzorger-1">Marie</label>
                <input type="checkbox" id="verzorger-2" />
                <label for="verzorger-2">Pieter</label>
                <input type="checkbox" id="verzorger-3" />
                <label for="verzorger-3">Noortje</label>
            </div>
            <div class="buttons">
                <a href="" class="button save"> Herinnering opslaan</a>
            </div>
        </fieldset>

<!--        <fieldset id="input-5">-->
<!--            <legend class="legend-text">Upload een afbeelding</legend>-->
<!--            <div class="input input-button">-->
<!--                <div class="input-button&#45;&#45;choose-file">-->
<!--                    <input type="file" id="real-file" hidden="hidden" />-->
<!--                    <button type="button" id="custom-button" class="button-icon">-->
<!--                        <img src="./camera_icon.png" alt="Image Icon" />-->
<!--                    </button>-->
<!--                    <span id="custom-text">Nog geen afbeelding gekozen.</span>-->
<!--                </div>-->
<!--                <img id="output-image" class="output-image hide" />-->
<!--            </div>-->
<!--            <div class="buttons">-->
<!--                <a class="button save"> Herinnering opslaan</a>-->
<!--            </div>-->
<!--        </fieldset>-->
<!--        -->
<!--        <fieldset id="input-6">-->
<!--            <legend class="legend-text">Voeg een opname toe</legend>-->
<!--            <div class="input input-button">-->
<!--                <div class="mic-container">-->
<!--                    <div class="circle">-->
<!--                        <img class="mic-icon" src="./voice_icon.png" alt="Microphone icon">-->
<!--                    </div>-->
<!--                    <div class="timer">-->
<!--                        <span class="minutes">00</span> <span class="colon">:</span><span class="seconds">00</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <audio></audio>-->
<!--                <audio id="savedAudio" controls></audio>-->
<!--            </div>-->
<!--            <div class="buttons">-->
<!--                <a class="button save"> Herinnering opslaan</a>-->
<!--            </div>-->
<!--        </fieldset>-->
        
        <%- include('partials/scroll-buttons') %>
    </form>
    <%- include('partials/spotify-navigation-player') %>
</main>

<!-- <%- include('partials/navigation') %>  -->
<%- include('partials/footer') %>

