<%- include('partials/head') %>

<header></header>

<main class="conversational-ui">

    <!-- Page Content -->
    <form method="GET" enctype="multipart/form-data">
        <fieldset id="input-1">
            <div class="back">
                <a href="/">&#8592 terug naar alle herinneringen</a>
            </div>
            <legend class="legend-text">
                Voeg muziek toe aan de herinnering
            </legend>
            <div class="input input-button">
                <a href="/" class="">Muziekstream openen</a>
            </div>
            <div class="buttons">
                <a href="#input-2" class="button next"> Overslaan</a>
            </div>
        </fieldset>

        <fieldset id="input-2">
            <legend class="legend-text">Welk gevoel kregen jullie? </legend>
            <!-- <div class="emotions">
                <?xml version="1.0" encoding="utf-8"?>
                <svg class="emotion1" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1125 2436"
                    style="enable-background:new 0 0 1125 2436;" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: #C8CACB;
                        }

                        .st1 {
                            fill: none;
                            stroke: #000000;
                            stroke-width: 5.6693;
                            stroke-miterlimit: 10;
                        }

                        .st2 {
                            fill: #FFFFFF;
                        }
                    </style>
                    <path class="st0"
                        d="M499.2,1218.3c0-35.1,28.4-63.5,63.5-63.5c35.1,0,63.5,28.4,63.5,63.5s-28.4,63.5-63.5,63.5" />
                    <path class="st0" d="M562.7,1281.8c-35.1,0-63.5-28.4-63.5-63.5" />
                    <path class="st1" d="M530.7,1206.3c0.9-0.8,4.6-4.3,10.5-4.5c6.5-0.2,10.8,3.8,11.5,4.5" />
                    <path class="st1" d="M572.8,1206.7c0.9-0.8,4.6-4.3,10.5-4.5c6.5-0.2,10.8,3.8,11.5,4.5" />
                    <path d="M593.7,1229.3c0.6,17.8-13.6,32.7-31,33c-17.7,0.3-32.7-14.8-32-33c8,2.1,19,4.1,32,4
                    C575.2,1233.3,585.8,1231.4,593.7,1229.3z" />
                    <path class="st2" d="M592.2,1231.8c0.1,0.5,0.2,1.2,0,2c-1.4,7.2-18.7,9.9-29.2,10c-11.5,0.1-29.3-2.7-30.8-10c-0.2-0.8-0.1-1.5,0-2
                    c7.6,2.1,18.2,4.2,31,4.1C575,1235.8,584.9,1233.8,592.2,1231.8z" />
                </svg>
                <?xml class="emotion2" version="1.0" encoding="utf-8"?>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1125 2436"
                    style="enable-background:new 0 0 1125 2436;" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: #C8CACB;
                        }

                        .st1 {
                            fill: none;
                            stroke: #000000;
                            stroke-width: 5.6693;
                            stroke-miterlimit: 10;
                        }
                    </style>
                    <circle class="st0" cx="562.7" cy="1218.3" r="63.5" />
                    <g>
                        <circle cx="544.2" cy="1203.8" r="8" />
                        <circle cx="581.2" cy="1204.8" r="8" />
                    </g>
                    <path class="st1" d="M537.7,1243.8c0.7,1,9.7,13.5,25.5,13c14.5-0.5,22.6-11.7,23.5-13" />
                </svg>
                <?xml version="1.0" encoding="utf-8"?>
                <svg class="emotion3" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1125 2436"
                    style="enable-background:new 0 0 1125 2436;" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: #C8CACB;
                        }

                        .st1 {
                            fill: none;
                            stroke: #000000;
                            stroke-width: 5.6693;
                            stroke-miterlimit: 10;
                        }
                    </style>
                    <path class="st0" d="M499.2,1218.3c0-35.1,28.4-63.5,63.5-63.5c35.1,0,63.5,28.4,63.5,63.5s-28.4,63.5-63.5,63.5
                    C527.6,1281.8,499.2,1253.4,499.2,1218.3" />
                    <g>
                        <circle cx="544.2" cy="1203.8" r="8" />
                        <circle cx="581.2" cy="1204.8" r="8" />
                    </g>
                    <line class="st1" x1="538.2" y1="1245.8" x2="587.2" y2="1245.8" />
                </svg>
                <?xml version="1.0" encoding="utf-8"?>
                <svg class="emotion4" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1125 2436"
                    style="enable-background:new 0 0 1125 2436;" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: #C8CACB;
                        }

                        .st1 {
                            fill: none;
                            stroke: #000000;
                            stroke-width: 5.6693;
                            stroke-miterlimit: 10;
                        }
                    </style>
                    <circle class="st0" cx="562.7" cy="1218.3" r="63.5" />
                    <g>
                        <circle cx="544.2" cy="1203.8" r="8" />
                        <circle cx="581.2" cy="1204.8" r="8" />
                    </g>
                    <path class="st1" d="M538.7,1256.8c0.7-1,9.7-13.5,25.5-13c14.5,0.5,22.6,11.7,23.5,13" />
                </svg>
                <?xml version="1.0" encoding="utf-8"?>
                <svg class="emotion5" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1125 2436"
                    style="enable-background:new 0 0 1125 2436;" xml:space="preserve">
                    <style type="text/css">
                        .st0 {
                            fill: #C8CACB;
                        }

                        .st1 {
                            fill: none;
                            stroke: #000000;
                            stroke-width: 5.6693;
                            stroke-miterlimit: 10;
                        }
                    </style>
                    <circle class="st0" cx="562.7" cy="1218.3" r="63.5" />
                    <path class="st1" d="M531.3,1206.4c0.9-0.8,4.6-4.3,10.5-4.5c6.5-0.2,10.8,3.8,11.5,4.5" />
                    <path class="st1" d="M573.5,1206.8c0.9-0.8,4.6-4.3,10.5-4.5c6.5-0.2,10.8,3.8,11.5,4.5" />
                    <path class="st1" d="M537.9,1256.8c0.7-1,9.7-13.5,25.5-13c14.5,0.5,22.6,11.7,23.5,13" />
                </svg>
            </div> -->
            <div class="buttons">
                <a href="#input-3" class="button next"> Volgende</a>
            </div>
        </fieldset>

        <fieldset id="input-3">
            <legend class="legend-text">Welke steekwoorden willen jullie aan de herinnering toevoegen? </legend>
            <div class="input input-text">
                <input id="title" type="text" placeholder="Titel" maxlength="40" />
            </div>
            <div class="buttons">
                <a href="#input-4" class="button next"> Volgende</a>
            </div>
        </fieldset>

        <fieldset id="input-4">
            <legend class="legend-text">Geef de herinnering een titel</legend>
            <div class="input input-text">
                <input id="title" type="text" placeholder="Titel" maxlength="40" />
            </div>
            <div class="buttons">
                <a href="#input-5" class="button next"> Volgende</a>
            </div>
        </fieldset>

        <fieldset id="input-5">
            <legend class="legend-text">
                Waar gaat deze herinnering over?
            </legend>
            <div class="input input-text">
                <input id="description" type="text" placeholder="De herinnering gaat over" value="" maxlength="40" />
            </div>
            <div class="buttons">
                <a href="#input-6" class="button next "> Volgende</a>
            </div>
        </fieldset>

        <fieldset id="input-6">
            <legend class="legend-text">Upload een afbeelding</legend>
            <div class="input input-button">
                <div class="input-button--choose-file">
                    <input type="file" id="real-file" hidden="hidden" />
                    <button type="button" id="custom-button" class="button-icon">
                        <img src="./camera_icon.png" alt="Image Icon" />
                    </button>
                    <span id="custom-text">Nog geen afbeelding gekozen.</span>
                </div>
                <img id="output-image" class="output-image hide" />
            </div>
            <div class="buttons">
                <a href="#input-7" class="button next "> Volgende</a>
            </div>
        </fieldset>


        <fieldset id="input-7">
            <legend class="legend-text">Upload een afbeelding</legend>
            <div class="input input-button">
                <div class="input-button--choose-file">
                    <input type="file" id="real-file" hidden="hidden" />
                    <button type="button" id="custom-button" class="button-icon">
                        <img src="./camera_icon.png" alt="Image Icon" />
                    </button>
                    <span id="custom-text">Nog geen afbeelding gekozen.</span>
                </div>
                <img id="output-image" class="output-image hide" />
            </div>
            <div class="buttons">
                <a class="button save"> Herinnering opslaan</a>
            </div>
        </fieldset>

        <fieldset id="input-8">
            <legend class="legend-text">Voeg een opname toe</legend>
            <div class="input input-button">
                <div class="mic-container">
                    <div class="circle">
                        <img class="mic-icon" src="./voice_icon.png" alt="Microphone icon">
                    </div>
                    <div class="timer">
                        <span class="minutes">00</span> <span class="colon">:</span><span class="seconds">00</span>
                    </div>
                </div>
                <audio></audio>
                <audio id="savedAudio" controls></audio>
            </div>
            <div class="buttons">
                <a class="button save"> Herinnering opslaan</a>
            </div>
        </fieldset>

        <fieldset id="input-9">
            <legend class="legend-text">
                Welke verzorgers mogen deze herinnering zien?
            </legend>
            <div class="input input-button">
                <input type="checkbox" id="verzorger-1" />
                <label for="verzorger-1">Marie</label>

                <input type="checkbox" id="verzorger-2" />
                <label for="verzorger-2">Pieter</label>

                <input type="checkbox" id="verzorger-3" />
                <label for="verzorger-3">Noortje</label>
            </div>
            <div class="buttons">
                <a href="" class="button save"> Herinnering opslaan</a>
            </div>
        </fieldset>

        <%- include('partials/scroll-buttons') %>
    </form>
    <%- include('partials/spotify-navigation-player') %>
</main>

<!-- <%- include('partials/navigation') %>  -->
<%- include('partials/footer') %>