<%- include('partials/head') %>

<<<<<<< HEAD
<header>
  <h1><%= title %></h1>
</header>

<main>
  <%- include('partials/search') %>
  <!-- Page Content -->
</main>
=======
  <header>

  </header>

  <main class="conversational-UI">
    <!-- Page Content -->
    <%- include('partials/memoryChecker') %>

      <div class="buttons">
        <a href="addMemory.ejs" class="button">Herinnering toevoegen</a>
        <a class="button">Muziek luisteren</a>
      </div>
  </main>

  <%- include('partials/navigation') %>
>>>>>>> f592b169299a7b455faee5a045eef4051f563cb5

    <%- include('partials/footer') %>