<%- include('partials/head') %>

<header>

  <main>
</header>
<%- include('partials/search') %>

<ul id="results">

</ul>

<main class="conversational-UI">
  <!-- Page Content -->
  <%- include('partials/memory-checker') %>

  <div class="buttons">
    <a href="/add-memory" class="button">Herinnering toevoegen</a>
    <a class="button">Muziek luisteren</a>
  </div>
</main>

<%- include('partials/navigation') %>
<%- include('partials/footer') %>