  <%- include('partials/head') %>

  <main class="conversational-ui container">
    <!-- Page Content -->
    <%- include('partials/account-information') %>
    <%- include('partials/memory-checker') %>
  </main>

  <!-- <%- // include('partials/navigation-holder') %> -->
  <%- include('partials/footer') %>