<%- include('partials/head') %>

<<<<<<< HEAD
  <header>
  
<main>
  </header>
  <%- include('partials/search') %>
  <main class="conversational-UI">
    <!-- Page Content -->
    <%- include('partials/memory-checker') %>
=======
<header>

  <main>
</header>
<%- include('partials/search') %>

<ul id="results">
>>>>>>> e0b658a2dde2b38be54511fd60556c66985c5793

</ul>

<<<<<<< HEAD
  <%- include('partials/navigation') %>
  <%- include('partials/footer') %>
=======
<main class="conversational-UI">
  <!-- Page Content -->
  <%- include('partials/memory-checker') %>

  <div class="buttons">
    <a href="/add-memory" class="button">Herinnering toevoegen</a>
    <a class="button">Muziek luisteren</a>
  </div>
</main>

<%- include('partials/navigation') %>
<%- include('partials/footer') %>
>>>>>>> e0b658a2dde2b38be54511fd60556c66985c5793
