<%- include('partials/head') %>

  <header>

  </header>

  <main class="">
    <!-- Page Content -->
    <%- include('partials/account-information') %>
    <%- include('partials/memory-checker') %>

      <div class="buttons">
        <a href="/add-memory" class="button">Herinnering toevoegen</a>
        <a class="button">Muziek luisteren</a>
      </div>
  </main>

  <%- include('partials/navigation') %>

    <%- include('partials/footer') %>