  <%- include('partials/head') %>
  <main class="container memories-overview" id="navigation-state--nav-only">
    <!-- Page Content -->
    <%- include('partials/account-information') %>
    <%- include('partials/memory-checker') %>
  </main>

  <img src="../uploads/2020-06-16T10:08:22.695Zaanvraag-1.jpeg" alt="adsfwe">

  <form action="/test" method="POST">
    <input type="text" name="test" id="test">
    <input type="submit">
  </form>

  <%- include('partials/navigation-holder') %>
  <%- include('partials/footer') %>