  <%- include('partials/head') %>
  <main class="container memories-overview" id="navigation-state--nav-only">
    <!-- Page Content -->
    <%- include('partials/account-information') %>
    <%- include('partials/memory-checker') %>
  </main>

  <%- include('partials/navigation-holder') %>
  <%- include('partials/footer') %>