<header>
    <%- include('partials/head') %>
    <!-- <h1><%= title %></h1> -->
</header>

<section class="container container--details" id="navigation-state--nav-only">
    <div class="container--details-back">
        <a href="/memories-overview"><img src="arrow_back.png" alt="Arrow back icon">
            Terug naar herinneringen</a>
    </div>
    <p><%= data %></p>
        
        <% if (data.title) { %>
            <h1><%=data.toJSON().title[0]%></h1>
        <% } %>
        <p>Toegevoegd door op <span class="date"> 15-05-2020</span></p>
        <% if (data.description) { %>
            <p><%=data.description%></p>
        <% } %>
     

        <h2>Alex's ervaring van de herinnering</h2>

        <%- include('partials/sliders') %>

        <div class="container-catchword">
            <h2>Steekwoorden </h2>
            <span class="catchword">bruiloft</span>
            <span class="catchword">liefde</span>
        </div>

        <div class="container-btn">
            <a class="share-btn" id="share-btn"><img src="share.svg" alt="Share icon"></a>
            <a class="edit-btn"><img src="edit.svg" alt="Edit icon"></a>
        </div>
</section>

<%- include('partials/navigation-holder') %>
<%- include('partials/footer') %>