<header>
    <%- include('partials/head') %>
    <h1><%= title %></h1>
</header>  
    <main class="spotify-overview">
        <h1>Hier kun je een nieuw nummer vinden.</h1>
        <section class="playlist">
        </section>

        <section class="playlist">
        </section>

        <%- include('partials/search') %>
        <ul id="results"></ul>
    </main>
  
  <%- include('partials/navigation') %>
  <%- include('partials/footer') %>