<header>
    <%- include('partials/head') %>
</header>
<%- include('partials/playlist-large') %>
<%- include('partials/artist-songs') %>
<div class="container container--main" id="navigation-state--nav-only">
    <main class="spotify-overview">
        <h1>Hier kun je een nieuw nummer vinden.</h1>
        <%- include('partials/playlist-small') %>

        <%- include('partials/search') %>
        <div class="results"></div>
        <div class="results"></div>
    </main>

<%- include('partials/add-memory') %>
</div>
<%- include('partials/navigation-holder') %>
<%- include('partials/footer') %>