<header>
    <%- include('partials/head') %>
</header>  
    <%- include('partials/playlist-large') %>
    <div class="container">
        <main class="spotify-overview">
            <h1>Hier kun je een nieuw nummer vinden.</h1>
            <%- include('partials/playlist-small') %>

            <%- include('partials/search') %>
            <div class="results"></div>
        </main>
    </div>
    <%- include('partials/music-player-small') %>
  <%- include('partials/navigation') %>
  <%- include('partials/footer') %>